[submodule "pack/plugins/start/vim-colors"]
	path = pack/plugins/start/vim-colors
	url = https://github.com/ricalbr/vim-colors
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-cool"]
	path = pack/plugins/start/vim-cool
	url = https://github.com/romainl/vim-cool
[submodule "pack/plugins/opt/vim-cpp-modern"]
	path = pack/plugins/opt/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "pack/plugins/opt/python-syntax"]
	path = pack/plugins/opt/python-syntax
	url = https://github.com/vim-python/python-syntax
